<header id="header">
  <div class="header-middle">
    <div class="container">
      <div class="row">
        <div class="col-md-4 clearfix">
          <div class="logo pull-left">
            <a href="javascript:;" (click)="changePage('/home')"
              ><img src="assets/images/home/logo.png" alt=""
            /></a>
          </div>
        </div>
        <div class="col-md-8 clearfix">
          <div class="shop-menu clearfix pull-right">
            <ul class="nav navbar-nav">
              <li>
                <a href="javascript:;" (click)="changePage('/checkout')"
                  ><i class="fa fa-crosshairs"></i> Checkout</a
                >
              </li>
              <li>
                <a href="javascript:;" (click)="changePage('/cart')"
                  ><i class="fa fa-shopping-cart"></i>Cart
                </a>
              </li>
              <li>
                <a href="javascript:;" (click)="changePage('/login')"
                  ><i class="fa fa-lock"></i> Login</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="header-bottom">
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <div class="navbar-header">
            <button
              type="button"
              class="navbar-toggle"
              data-toggle="collapse"
              data-target=".navbar-collapse"
            >
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="mainmenu pull-left">
            <ul class="nav navbar-nav collapse navbar-collapse">
              <li>
                <a
                  href="javascript:;"
                  (click)="changePage('/home')"
                  class="active"
                  >Home</a
                >
              </li>
              <li class="dropdown">
                <a href="#">Shop<i class="fa fa-angle-down"></i></a>
                <ul role="menu" class="sub-menu">
                  <li>
                    <a href="javascript:;" (click)="changePage('/products')"
                      >Products</a
                    >
                  </li>
                  <li>
                    <a
                      href="javascript:;"
                      (click)="changePage('/product-detail')"
                      >Product Details</a
                    >
                  </li>
                  <li>
                    <a href="javascript:;" (click)="changePage('/checkout')"
                      >Checkout</a
                    >
                  </li>
                  <li>
                    <a href="javascript:;" (click)="changePage('/cart')"
                      >Cart</a
                    >
                  </li>
                  <li>
                    <a href="javascript:;" (click)="changePage('/login')"
                      >Login</a
                    >
                  </li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#">Blog<i class="fa fa-angle-down"></i></a>
                <ul role="menu" class="sub-menu">
                  <li>
                    <a href="javascript:;" (click)="changePage('/blog')"
                      >Blog List</a
                    >
                  </li>
                  <li>
                    <a href="javascript:;" (click)="changePage('/blog-single')"
                      >Blog Single</a
                    >
                  </li>
                </ul>
              </li>
              <li>
                <a href="javascript:;" (click)="changePage('/contact')"
                  >Contact</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="search_box pull-right">
            <input type="text" placeholder="Search" />
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
