<section id="form">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-1">
        <div class="login-form">
          <h2>Login to your account</h2>
          <form action="#">
            <input type="text" name="account" [(ngModel)]="user.username" placeholder="Account" />
            <input type="password" name="password" [(ngModel)]="user.password" placeholder="Password" />
            <span>
              <input type="checkbox" class="checkbox" />
              Keep me signed in
            </span>
            <button type="button" (click)='login()' class="btn btn-default">Login</button>
          </form>
        </div>
      </div>
      <div class="col-sm-1">
        <h2 class="or">OR</h2>
      </div>
      <div class="col-sm-4">
        <div class="signup-form">
          <h2>New User Signup!</h2>
          <form action="#">
            <input
              type="text"
              name="name"
              [(ngModel)]="user.username"
              placeholder="Name"
            />
            <input
              type="email"
              name="email"
              [(ngModel)]="user.email"
              placeholder="Email Address"
            />
            <input
              type="password"
              name="password"
              [(ngModel)]="user.password"
              placeholder="Password"
            />
            <button type="button" (click)="register()" class="btn btn-default">
              Signup
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
