<section id="cart_items">
  <div class="container">
    <div class="breadcrumbs">
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active">Shopping Cart</li>
      </ol>
    </div>
    <div class="table-responsive cart_info">
      <table class="table table-condensed" *ngIf="carts.length > 0">
        <thead>
          <tr class="cart_menu">
            <td class="image">Item</td>
            <td class="description">Description</td>
            <td class="price">Price</td>
            <td class="quantity">Quantity</td>
            <td class="total">Total</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of carts">
            <td class="cart_product">
              <a href=""
                ><img
                  style="width: 100px; height: 100px"
                  [src]="product.images"
                  alt=""
              /></a>
            </td>
            <td class="cart_description">
              <h4>
                <a href="">{{ product.name }}</a>
              </h4>
              <p>{{ product.description }}</p>
            </td>
            <td class="cart_price">
              <p>{{ product.price }} .đ</p>
            </td>
            <td class="cart_quantity">
              <div class="cart_quantity_button">
                <a class="cart_quantity_up" href=""> + </a>
                <input
                  class="cart_quantity_input"
                  type="text"
                  name="quantity"
                  [value]="product.total"
                  autocomplete="off"
                  size="2"
                />
                <a class="cart_quantity_down" href=""> - </a>
              </div>
            </td>
            <td class="cart_total">
              <p class="cart_total_price">{{ product.total }}</p>
            </td>
            <td class="cart_delete">
              <a class="cart_quantity_delete" href=""
                ><i class="fa fa-times"></i
              ></a>
            </td>
          </tr>
        </tbody>
      </table>
      <h2 *ngIf="carts.length <= 0">Không có sản phẩm nào được lựa chọn !</h2>
    </div>
  </div>
</section>

<section id="do_action">
  <div class="container">
    <div class="heading">
      <h3>Bạn muốn lựa chọn hình thức thanh toán nào ?</h3>
      <!-- <p>
        Choose if you have a discount code or reward points you want to use or
        would like to estimate your delivery cost.
      </p> -->
    </div>
    <div class="row">
      <div class="col-sm-6">
        <p>Chuyển khoản</p>
        <div class="total_area">
          <img
            src="../../../assets/images/payment.PNG"
            style="width: 553px; height: 175px"
            alt="payment"
          />
        </div>
      </div>
      <div class="col-sm-6">
        <p>Thanh toán khi nhận hàng</p>
        <div class="total_area">
          <p style="margin-left: 37px">Vui lòng nhập thông tin liên hệ.</p>
          <form>
            <input
              type="text"
              [(ngModel)]="customerInfo.name"
              name="name"
              placeholder="Họ và tên"
            />

            <input
              type="number"
              name="phone"
              [(ngModel)]="customerInfo.phoneNumber"
              placeholder="Số điện thoại liên hệ"
            />
            <input
              type="text"
              name="address"
              [(ngModel)]="customerInfo.address"
              placeholder="Địa chỉ giao hàng."
            />
          </form>
        </div>
      </div>
      <button
        type="button"
        (click)="payment()"
        class="btn btn-default check_out"
      >
        Thanh toán
      </button>
    </div>
  </div>
</section>
